<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json"/>
        <add key="Telerik" value="https://nuget.telerik.com/nuget/" />
    </packageSources>
    <packageSourceCredentials>
    <Telerik>
        <add key="Username" value="brian@pointsoft.com.my" />
        <add key="ClearTextPassword" value="pointsoft" />
    </Telerik>
    </packageSourceCredentials>
</configuration>