
@{
    ViewBag.Title = "Registration";
}

<h2>Your Registration has been submitted successfully.</h2>

<div>
    <h4>Now you will need to do the following..</h4>
    <ul>
        <li>@ViewBag.Message</li>
        <li>Once you had confirm your registration, we will evaluate and activate your account</li>
        <li>Once your account has been activated, you can login and start using the system.</li>
    </ul>
</div>

